{% for emoji, count in emojis %}
    <div class="emoji-{{id}}" data-emoji="{{ emoji }}">{{ emoji }}({{ count }})</div>
{% endfor %}

<script>
    if (typeof emojis{{id}} === 'undefined') {
        let emojis{{id}};
    }

    if (typeof addEmoji{{id}} === 'undefined') {
        let addEmoji{{id}};
    }

    emojis{{id}} = document.querySelectorAll('.emoji-{{id}}');
    emojis{{id}}.forEach(emoji => {
        emoji.addEventListener('click', (e) => {
            e.preventDefault();
            addEmoji{{id}}(e);
        });
    });

    addEmoji{{id}} = (event) => {
        const emoji = event.target.dataset.emoji;
        fetch('{{ path('app_add_reaction') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                emoji: emoji,
                class: "{{ class|replace({"\\": "\\\\"})}}",
                id: "{{ id }}"
            })
        })
    }
    // A mettre dans le top 10 des pires trucs que j'ai fait
</script>
